<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check comment</title>
</head>
<body>
    <h1>Проверка работоспособности отзывного окна</h1>

    <form action="/admin">
  <p><label for="w3review">Отзыв о нашем окнне:</label></p>
  <textarea id="w3review" name="w3review" rows="4" cols="50" placeholder = 'Напишите свой отзыв'></textarea>
  <br>
  <input type="submit" value="Отправить">
</form>

<p>Нажмите на кнопку отправить для того что бы оставить свой отзыв о работе окна.</p>

</body>
</html>